* {
  text-rendering: optimizelegibility;
}

body {
  margin:0px;
  padding:0px;
  color:#222;
  background-color:#252525;
}

form {
  display:inline;
}

body > div {
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  background-color:#fff;
}

.site-header {
  width:100%;
  display:table;
  background-color:#263347;
  
  background:-webkit-gradient(
    radial, 250 10%, 0, 1000 25%, 40, from(#424963), to(#263347)
  ) #263347;

  background:-moz-radial-gradient(
    250px 25%, circle, #424963 0px, #263347 40px
  );
}

.site-header > div.left {
  float:left;
  padding:15px;
  padding-left:55px;
}

.site-header > div.right {
  float:right;
  margin-right:35px;
  padding:15px;
  padding-right:55px;
}

.site-header > img {
  float:right;
  margin-left:50px;
  margin-right:-100px;
}

.site-header a:hover {
  text-decoration:none;
}

.site-header h1 {  
  font-family:'Ubuntu Mono', Arial, sans-serif;
  text-transform:uppercase;
  font-weight:700;
  font-size:140px;
  margin-top:0px;
  margin-bottom:0px;
  letter-spacing:1px;
  color:#fff;
  text-shadow:#000 1px 2px 3px;
}

.site-header h2 {
  font-family:'Gochi Hand', serif;
  font-size:40px;
  margin-top:0px;
  margin-bottom:0px;
  color:#bac7da;
  text-shadow:#000 1px 2px 3px;
  margin-left:6px;
}

nav {
  height:36px;
  background-color:#7DB067;

  background:-webkit-gradient(linear, left top, left bottom, from(#dae9d4), to(#a9ca9a));
  background:-moz-linear-gradient(top,  #87b875,  #7DB067);
  border:none;
}

nav span {
  padding-right:10px;
}

div.content {  
  display:table;
  width:1000px;
}

div.content > .main {
  display:table-cell;
}

div.content > .sidebar {
  display:table-cell;
  width:275px !important;
  background-color:#eee;
  border-left:1px solid #ddd;
  background:-webkit-gradient(linear, left top, right top, from(#eee), to(#ddd));
  background:-moz-linear-gradient(left,  #eee,  #ddd);  
}

.sidebar > div {
  margin:15px;
  width:245px;
  overflow:hidden;

  background-color:#ccc;
  border-radius:8px;
  padding:6px;

  opacity:0.6;

  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-delay:1s;

  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay:1s;
  
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay:1s;
}

.sidebar > div:hover {
  opacity:1;

  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-delay:0s;

  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay:0s;
  
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay:0s;
}


article {
  padding:55px;
  padding-top:40px;
  padding-bottom:20px;
  box-shadow:#aaa 0px 2px 10px;
  margin-bottom:10px;
}

h1,h2,h3,h4,h5,h6 { 
  clear:both;
  font-weight:500;
  margin-top:10px;
  line-height:1.1em;
  letter-spacing:-2px;
  color:#000;
}

h1 {
  font-size:48px;
  font-style:normal;
  margin-top:30px;
  margin-bottom:20px;
  letter-spacing:-2px;
}

h2 {
  font-size:36px;
  font-style:normal;
  margin-bottom:18px;
}

body, p, div, span, input {
  font-family:"minion-pro-1","minion-pro-2", "Times New Roman", Georgia, serif;
  font-size:20px;
  letter-spacing:-1px;
}

a {
  color:#336699;
  text-decoration:none;
}

pre, code {
  font-family:'Ubuntu Mono', monospace;
  font-size:15px; 
}

p > code {
  font-size:17px;  
}

pre {
  margin:25px;
  padding:20px;
  border:1px dotted #bac7da;
  background-color:#dae7fa;    
}

blockquote {
  font-family:'Ubuntu Mono', monospace;
  font-size:18px;
  letter-spacing:1px;
  color:#666;
}

nav span {
  float:right;
}

nav input {
  display:inline;
  font-family:'Ubuntu Mono', monospace;
  font-size:18px;
  border:1px solid #a9ca9a;
  border-radius:5px;
  margin:5px;
  padding:3px;
  padding-left:6px;
  padding-right:6px;
  background-color:#e6f6e0;  
  box-shadow:#dae9d4 1px 1px 1px;
}

nav img {
  vertical-align:middle;
  margin:auto;
}

article table {
  width:100%;
}

article img {
  vertical-align:middle; 
  margin:auto;
}

.caption {
  font-family:'Ubuntu Mono', sans-serif;
}

span.meta {
  font-family: 'Ubuntu Mono', sans-serif;
  font-size:18px;

  text-transform:uppercase;  
  background-color:#ccc;
  color:#666;
  padding:10px;
  padding-right:15px;
  padding-left:60px;

  margin-left:-58px;

  border:1px solid #aaa;
  border-left:none;
  border-top-right-radius:5px;
  border-bottom-right-radius:15px;

  text-shadow:#fee 1px 1px 1px;
  box-shadow:#bbb -1px 1px 5px;
}

li {
  color:#666;
}

.keywords {
  margin:0px;
  margin-right:-52px;
  margin-bottom:20px;
  float:right;
}

.keywords li {
  display:inline;
  list-style-type:none;
  background:url('../images/tag.png') no-repeat 5px 3px;

  margin:0px;
  padding:3px;
  padding-left:25px;
  padding-right:10px;

  border:1px solid #ddd;
  border-radius: 3px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color:#eee;

  line-height: 15px;
  font-size:14px;
  letter-spacing:0.5px;
  font-family:'ubuntu mono';
  color: #666;
  text-shadow: 1px 1px 1px #fff;
}

.archive {
  display:table;
  font-size:18px;
  -webkit-padding-start:0px;
}

.archive .date {
  display:table-cell;
  width:60px;
  color:#999;
  font-size:18px;
}

.archive .title {
  display:table-cell;
}

.archive li {
  list-style-type:none;
}

.sidebar * {
  font-size:15px;
  font-family:'Ubuntu Mono', sans-serif;
}

.sidebar h5 {
  font-size:20px;
  text-transform:uppercase;
  letter-spacing:1px;
  text-shadow: 1px 1px 1px #fff;
  margin-bottom:10px !important;
}

.twitter-feed ul {
  padding:0px;
  border-top:1px solid #aaa;
  border-bottom:1px solid #ddd;
}

.twitter-feed li {
  padding-top:10px;
  padding-bottom:10px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #aaa;
  color:#336699;
}

.text {
  color:#336699;
}

.text a {
  color:#996633;
  text-decoration:none;
}

.text a.user {
  color:#996633;        -
}

.text a.hashtag {
  color:#669933;        
}

.text a.link {
  color:#003366;        
}

.twitter-feed .date {
  color:#999;
}

.twitter-follow-button {
  width:245px;
}

nav ul {
  display:table;
}

nav div.links {
  display:table;
  margin:auto;
  padding:11px;
}

nav .next, .prev {  
  display:table-cell;
  
  padding-left:1px;
  padding-right:1px;
}

nav .next a, nav .prev a {
  margin:0px;
  margin-left:2px;
  margin-right:2px;

  border:1px solid #a9ca9a;
  border-radius: 3px;
  background-color:#e6f6e0;

  line-height: 15px;
  font-size:14px;
  letter-spacing:0.5px;
  font-family:'ubuntu mono';
  color: #666;
  text-shadow: 1px 1px 1px #fff;
}

.next a {
  background:url('../images/next.png') no-repeat 0 2px;
  padding:3px;
  padding-left:30px;
  padding-right:20px;
}

.prev a {
  background:url('../images/prev.png') no-repeat right 2px;
  padding:3px;
  padding-left:20px;
  padding-right:30px;
}

.twitter-feed h5 {  
  font-size:20px;
  text-transform:uppercase;
  letter-spacing:1px;
  text-shadow: 1px 1px 1px #fff;
  margin-bottom:20px;
}

.rubiks {
  font-family:'Ubuntu Mono', monospace;
  font-size:15px; 
  margin:2px;
  border:1px dotted #bac7da;
  background-color:#dae7fa;    
}

.sh-comment {
  font-family:'Ubuntu Mono', monospace;
  font-size:15px; 
  color:#060 !important; 
}

.sh-keyword {
  font-family:'Ubuntu Mono', monospace;
  font-size:15px; 
  color:#603;        
}

.sh-literal {
  font-family:'Ubuntu Mono', monospace;
  font-size:15px; 
  color:#00e;
}

.sh-annotation {
  font-family:'Ubuntu Mono', monospace;
  font-size:15px; 
  color:#aab;
}

.sharing {
  position:fixed;
  right:0px;
  top:200px;
}

.sharing ul {
  list-style:none;
}

.sharing ul li {
  background-color:#666;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
  margin-bottom:20px;
}

.sharing a {
  height:32px;
  width:32px;
  margin:10px;
  display: block;
  text-indent:-9999px;
  padding-top:1px;
  padding-bottom:1px;
}

.sharing .twitter {
  background:url(https://si0.twimg.com/images/dev/cms/intents/bird/bird_black/bird_32_black.png) no-repeat top left;
}

.sharing .gplus {
  height:27px;
  padding-left:12px;
  padding-top:7px;
}

#disqus_thread {
  margin-top:50px;
  margin-bottom:50px;
}

#disqus_thread h3 {
  font-size:20px;
}
